.vscode/**
.vscode-test/**
src/**
test/**
out/test/**
node_modules/**
!node_modules/minimatch/**
!node_modules/brace-expansion/**
!node_modules/balanced-match/**
!node_modules/concat-map/**
.gitignore
.mocharc.json
.eslintrc*
tsconfig.json
plan.md
**/*.map
**/*.ts
!out/src/**/*.js
.env
.vsix
demo
